
.main {
    width: 100%;
    margin-bottom: 90px;
    margin-top: 3.4rem;
}

.info {
    margin: 0 auto;
    max-width: 784px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}


.info .div{
    max-width: 342px;
    display: flex;
    flex-direction: column;
    padding: 45px;
    border-radius: 4px;
}

@media screen and (max-width: 890px){
    .info {
        flex-direction: column;
    }

    .div h2 {
        margin: 0 auto;
    }

    .div button{
        margin: 0 auto;
    }
}

.div h2 {
    max-width: 123px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #2C3A57;
}

.div p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.7);
}

.div button {
   max-width: 146px;
    height: 44px;
    border: none;
}

.esquerdo {
    background: #F8FAFF;
    margin-bottom: 2rem;
}

.esquerdo button{
    color: #0E63F4;
    border-radius: .25rem;
}

.direito {
    background: #E6FAF0;
}

.direito button {
    color: #2CD280;
    border-radius: .25rem;

}
